main {
    height: auto;
    background-color: #1c1c1c;
    font-size: 16px;
}
main h1 {
    font-family: "Potta One";
    font-size: 55px;
    color: White;
    margin: 40px 50px 20px 50px;
    padding: 5px 0;
    border-bottom: solid 1px;
}

main .box {
    width: 1070px;
    margin: 0 auto;
}

main .box h2 {
    font-size: 30px;
    margin: 20px auto;
    border-bottom: solid 1px;
    border-image: linear-gradient(to right, rgb(248, 189, 19), rgba(248, 189, 19, 0.1)) 1;
}

main .box h3 {
    font-size: 23px;
}

main .box p {
    margin: 10px 20px;
    text-align: justify;
}

main .box ul {
    margin: 10px 40px;
    display: inline-block;
}

main .box ul li{
    margin: 10px 0;
    text-align: left;
    list-style: circle;
}

/* Rules */
main .box .ruleLists {
    width: 800px;
    margin: 20px auto;
    border: 2px solid #3f4147;
    border-radius: 10px;
}

main .box .ruleLists h3 {
    margin: 10px 10px 20px 10px;
    border-bottom: solid 1px;
    border-image: linear-gradient(to right, rgba(178, 0, 11, 0.7), rgba(178, 0, 11, 0.2)) 1;
}

/* How to Connect */

main .connect ul li code {
    border: solid 1px #3f4147;
    border-radius: 5px;
    padding: 5px;
    margin: 10px 0;
}

main .connect ul li button .mouse-over {
    display: none;
    position: absolute;
    background-color: #3f4147;
    color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

main .connect ul {
    padding: 0 20px;
}

main .connect ul li button:hover .mouse-over {
    display: block;
}

main .connect ul li input {
    width: 210px;
    text-decoration: underline;
}