main {
    height: auto;
    background-color: #1c1c1c;
    font-size: 16px;
    position: relative;
    top: 25px;
}
main h1 {
    font-family: "Potta One";
    font-size: 55px;
    color: White;
    margin: 40px 50px 20px 50px;
    padding: 5px 0;
    border-bottom: solid 1px;
}

main .box {
    width: 1070px;
    margin: 0 auto;
}

main .box h2 {
    font-size: 30px;
    margin: 20px auto;
    border-bottom: solid 1px;
    border-image: linear-gradient(to right, rgb(248, 189, 19), rgba(248, 189, 19, 0.1)) 1;
}

main .box h3 {
    font-size: 23px;
}

main .box p {
    margin: 10px 20px;
    text-align: justify;
}

main .box ul {
    margin: 10px 40px;
    display: inline-block;
}

main .box ul li{
    margin: 10px 0;
    text-align: left;
    list-style: circle;
}

/* About */

main .about .about-disc a {
    color: rgb(149, 149, 149);
    text-decoration: none;
    transition: .5s;
}

main .about .about-disc a:hover {
    color: #fdfdfd;
}

/* Rules */
main .box .ruleLists {
    width: 800px;
    margin: 20px auto;
    border: 2px solid #3f4147;
    border-radius: 10px;
}

main .box .ruleLists h3 {
    margin: 10px 10px 20px 10px;
    border-bottom: solid 1px;
    border-image: linear-gradient(to right, rgba(178, 0, 11, 0.7), rgba(178, 0, 11, 0.2)) 1;
}

/* How to Connect */

main .connect ul li code {
    border: solid 1px #3f4147;
    border-radius: 5px;
    padding: 5px;
    margin: 10px 0;
}

main .connect ul li button .mouse-over {
    display: none;
    position: absolute;
    background-color: #3f4147;
    color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

main .connect ul {
    padding: 0 20px;
}

main .connect ul li button:hover .mouse-over {
    display: block;
}

main .connect ul li input {
    width: 210px;
    text-decoration: underline;
}

/* dan */

.dan p {
    font-size: 14px;
    padding: 5px;
}

.dan p a {
    background-color: #3c4270;
    color: #c0cde9;
    padding: 0 3px;
    margin-top: 5px;
    border-radius: 5px;
}

.dan .overview {
    padding: 20px 10px 50px 10px;
}

.dan .overview a {
    background-color: #3c4270;
    color: #c0cde9;
    padding: 0 3px;
    border-radius: 5px;
}
.dan .overview a:hover {
    background-color: #5865f2;
    color: #f4fffe;
    text-decoration: underline;
}

.dan .download-dan {
    padding: 0 10px 30px 10px;
}

.dan .download-dan a {
    font-size: 16px;
    opacity: 0.6;
}
.dan .download-dan a:hover {
    opacity: 1;
    text-decoration: underline;
}

.dan .nav {
    display: flex;
    padding: 20px;
    justify-content: center;
}

.dan .nav li {
    color: rgb(125, 181, 255);
    padding: 0 20px;
    list-style: none;
}
.dan .nav li:hover {
    color: #e0d6b8;
    text-decoration: underline;
}

.dan h2 {
    font-size: 24px;
    padding-bottom: 10px;
}

.dan .mode li {
    width: 930px;
    padding-bottom: 50px;
    margin: 0 auto;
    scroll-margin-top: 100px;
    list-style: none;
}

.dan .mode li a {
    font-size: 14px;
    margin: 0 5px;
    opacity: 0.6;
    transition: .5s;
}
.dan .mode li a:hover {
    opacity: 1;
    text-decoration: underline;
}

.dan .mode li table {
    background-color: rgba(125, 181, 255, 0.15);
    width: 850px;
    border: 3px solid black;
    border-radius: 2px;
    margin: 0 auto;
}

.dan .mode li table th {
    font-weight: normal;
    padding: 10px 0;
    border-right: 1px solid black;
    border-bottom: 2px double black;
    text-align: center;
    vertical-align: middle;
    text-shadow: 2px 2px 2px black;
}

.dan .mode li table td {
    padding: 5px 0;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    text-align: center;
    vertical-align: middle;
}

.dan .mode li table .rainbow {
    font-weight: bold;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: 2s rainbow linear infinite;
}
@keyframes rainbow {
    0% { background-color: #e60000; }
    14% { background-color: #f39800; }
    28% { background-color: #fff100; }
    42% { background-color: #009944; }
    56% { background-color: #0068b7; }
    70% { background-color: #1d2088; }
    85% { background-color: #920783; }
    100% { background-color: #e60000; }
}

.dan .mode li table td .minus {
    color: #dc143c;
}

.dan .mode li table td .plus {
    color: #4682b4;
}