main {
    background-color: #1c1c1c;
}

main h1 {
    background-image: url("../images/logo.webp");
    background-repeat: no-repeat;
    background-position: center 20%;
    background-clip : text;
    font-family: "Potta One";
    font-size: 70px;
    color: transparent;
    text-align: center;
}

main .pp-record-user .flex-box {
    display: flex;
    font-family: "Mochiy Pop One";
    height: 500px;
    justify-content: center;
    align-items: flex-end;
}

main .pp-record-user .flex-box .user {
    display: flex;
    position: relative;
    cursor: pointer;
    height: 200px;
    width: 200px;
    margin: 0 80px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    -webkit-box-reflect: below -102px linear-gradient(to bottom, transparent, #0005);
    transition: height 500ms, width 500ms, margin 500ms, transform 500ms, opacity 500ms;
}
main .pp-record-user .flex-box .user:hover {
    opacity: 1;
}

main .pp-record-user .flex-box .user img {
    height: 200px;
    width: 200px;
    border-radius: 10px;
    object-fit: cover;
    filter: grayscale(100%);
    transition: height 500ms, width 500ms, box-shadow 500ms, filter 500ms;
}

main .pp-record-user .flex-box .focused {
    height: 400px;
    width: 400px;
    z-index: 1;
    opacity: 1;
    transition: height 500ms, width 500ms, transform 500ms;
}
main .pp-record-user .flex-box .focused:hover {
    transform: scale(1.1);
}

main .pp-record-user .flex-box .focused img {
    height: 400px;
    width: 400px;
    box-shadow: 0px 0px 100px 0px rgba(255, 255, 255, 0.5);
    filter: grayscale(70%);
    object-fit: cover;
}
main .pp-record-user .flex-box .focused img:hover {
    filter: grayscale(0%);
}

main .pp-record-user .flex-box .edge {
    height: 0px;
    width: 0px;
    margin: 0;
}
main .pp-record-user .flex-box .edge img {
    height: 0px;
    width: 0px;
}

main .pp-record-user .flex-box .user .mode-title {
    position: absolute;
    left: 50%;
    bottom: 27%;
    text-shadow: 2px 2px 2px #000;
    transform: translateX(-50%);
    transition: transform 500ms, opacity 500ms;
}

main .pp-record-user .flex-box .user:hover .mode-title {
    transform: translate(-50%, -50%);
}

main .pp-record-user .flex-box .focused .mode-title, main .pp-record-user .flex-box .edge .mode-title {
    opacity: 0;
}

main .pp-record-user .flex-box .user h3 {
    display: flex;
    margin-top: 5px;
    font-size: 20px;
    text-shadow: 2px 2px 2px #000;
    align-items: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    transform: translateY(-100%);
    opacity: 0;
    transition: transform 800ms, opacity 800ms;
}

main .pp-record-user .flex-box .user h3 .mode-icon {
    height: 20px;
    margin-right: 3px;
}
main .pp-record-user .flex-box .user h3 .country-flag {
    margin-left: 5px;
    margin-right: 3px;
}

main .pp-record-user .flex-box .user h3 .username {
    font-size: 2em;
}

main .pp-record-user .flex-box .focused h3 {
    transform: translateY(0%);
    opacity: 1;
}

main .pp-record-user .flex-box .user .pp {
    font-size: 2.8em;
    text-shadow: 2px 2px 2px #000;
    transform: translateY(-200%);
    opacity: 0;
    transition: transform 800ms, opacity 800ms;
}

main .pp-record-user .flex-box .focused .pp {
    transform: translateY(0%);
    opacity: 1;
}