main {
    background-color: #1c1c1c;
    user-select: none;
    height: auto;
}

main h1 {
    background-image: url("../images/logo.webp");
    background-repeat: no-repeat;
    background-position: center 20%;
    background-clip : text;
    font-family: "Potta One";
    font-size: 70px;
    color: transparent;
    text-align: center;
}

main .pp-record-user {
    margin-top: 0px;
}

main .pp-record-user .boxes {
    display: flex;
    height: 600px;
    align-items: center;
}

main .pp-record-user .flex-box {
    display: flex;
    position: absolute;
    left: 50%;
    font-family: "Mochiy Pop One";
    height: 500px;
    margin: 0 auto;
    align-items: flex-end;
    perspective: 1000px;
    perspective-origin: bottom center;
    transform: translateX(-50%);
    z-index: 0;
}

main .pp-record-user .flex-box.selected {
    z-index: 1;
}

main .pp-record-user .flex-box .user {
    cursor: pointer;
    display: flex;
    position: relative;
    height: 300px;
    width: 200px;
    margin: 0 80px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: rotateX(90deg);
    transform-origin: bottom;
    transform-style: preserve-3d;
    transition: height 500ms, width 500ms, margin 500ms, transform 500ms, opacity 500ms;
}

main .pp-record-user .flex-box.selected .user {
    transform: rotateX(0deg);
    z-index: 1;
    opacity: 0.5;
}
main .pp-record-user .flex-box.selected .user:hover {
    opacity: 1;
}

main .pp-record-user .flex-box .user .wrap {
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 8%;
    align-items: flex-end;
    filter: grayscale(100%);
    -webkit-box-reflect: below 1px linear-gradient(to bottom, transparent, #0005);
    transition: height 500ms, width 500ms, box-shadow 500ms, filter 500ms, opacity 500ms;
}

main .pp-record-user .flex-box.selected .focused {
    height: 500px;
    width: 400px;
    z-index: 1;
    opacity: 1;
    transition: height 500ms, width 500ms, transform 500ms;
}
main .pp-record-user .flex-box .focused:hover {
    transform: scale(1.1);
}

main .pp-record-user .flex-box .focused .wrap {
    filter: grayscale(70%) drop-shadow(0px 0px 100px rgba(255, 255, 255, 0.5));
    opacity: 1;
}
main .pp-record-user .flex-box .focused:hover .wrap {
    filter: grayscale(0%) drop-shadow(0px 0px 50px #fff);
}

main .pp-record-user .flex-box .edge {
    height: 0px;
    width: 0px;
    margin: 0;
}

main .pp-record-user .flex-box .user .mode-title {
    position: absolute;
    bottom: 3%;
    left: 50%;
    text-shadow: 2px 2px 2px #000;
    transform: translateX(-50%);
    transition: transform 500ms, opacity 500ms;
}
main .pp-record-user .flex-box .user:hover .mode-title {
    transform: translate(-50%, -50%);
}

main .pp-record-user .flex-box .focused .mode-title, main .pp-record-user .flex-box .edge .mode-title {
    opacity: 0;
}

main .pp-record-user .flex-box .user .mode-title i {
    margin-right: 5px;
}

main .pp-record-user .flex-box .user h3 {
    display: flex;
    margin-top: 5px;
    font-size: 20px;
    text-shadow: 2px 2px 2px #000;
    align-items: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    transform: translateY(-100%);
    opacity: 0;
    transition: transform 800ms, opacity 800ms;
}

main .pp-record-user .flex-box .user h3 .mode-icon {
    height: 20px;
    margin-right: 5px;
}
main .pp-record-user .flex-box .user h3 .country-flag {
    margin-left: 5px;
    margin-right: 3px;
}

main .pp-record-user .flex-box .user h3 .username {
    font-size: 2em;
}

main .pp-record-user .flex-box .focused h3 {
    transform: translateY(0%);
    opacity: 1;
}

main .pp-record-user .flex-box .user .pp {
    font-size: 2.8em;
    text-shadow: 2px 2px 2px #000;
    transform: translateY(-200%);
    opacity: 0;
    transition: transform 800ms, opacity 800ms;
}

main .pp-record-user .flex-box .focused .pp {
    transform: translateY(0%);
    opacity: 1;
}

main .pp-record-user .special-switch {
    display: flex;
    position: relative;
    font-size: 18px;
    width: 360px;
    border: 2px solid #fdfdfd;
    border-radius: 35px;
    margin: 0 auto;
    backdrop-filter: blur(5px);
    box-shadow: 0 5px 5px #000;
    z-index: 2;
}

main .pp-record-user .special-switch li {
    cursor: pointer;
    position: sticky;
    width: 120px; 
    padding: 5px 0;
    text-align: center;
    text-shadow: 1px 1px 1px #000;
    overflow: hidden;
    transition: background-color 500ms;
}
main .pp-record-user .special-switch li:hover {
    background-color: rgba(253, 253, 253, 0.1);
}

main .pp-record-user .special-switch li.selected:hover {
    background-color: unset;
}

main .pp-record-user .special-switch li::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fdfdfd;
    height: 100%;
    width: 100%;
    transform: scaleX(0%);
    opacity: 0;
    z-index: -1;
    transition: border-radius 500ms, transform 500ms, opacity 500ms;
}

main .pp-record-user .special-switch li.selected::before {
    transform: scaleX(100%);
    opacity: 1;
}

main .pp-record-user .special-switch li:first-child {
    border-right: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 35px 0 0 35px;
}

main .pp-record-user .special-switch li.selected:first-child::before {
    border-radius: 35px 0 0 35px;
}

main .pp-record-user .special-switch li:last-child {
    border-left: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 0 35px 35px 0;
}

main .pp-record-user .special-switch li.selected:last-child::before {
    border-radius: 0 35px 35px 0;
}

main .pp-record-user .special-switch li span {
    mix-blend-mode: difference;
}

main .list {
    border-top: solid 1px;
    border-image: linear-gradient(to right, rgba(248, 189, 19, 0.1), rgb(248, 189, 19), rgba(248, 189, 19, 0.1)) 1;
    height: 300px;
    margin-top: 30px;
}

main .list h2 {
    font-size: 2.6em;
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

main .list .server-st {
    display: flex;
    font-family: "New Amsterdam";
    justify-content: center;
}

main .list .player-wrap {
    display: flex;
    border-radius: 20px;
    font-size: 4em;
    padding: 20px 30px;
    margin: 10px 30px;
}

main .list .current {
    background-color: rgb(117, 172, 248);
    border: solid 1px rgb(42, 128, 250);
    box-shadow: 0 0 25px white;
}

main .list .total {
    background-color: rgb(54, 54, 54);
    border: solid 1px rgb(118, 118, 118);
}

main .list .player-wrap i {
    margin-right: 10px;
}

main .list .player-wrap .odometer {
    margin-left: 10px;
}