<header>
    <img src = "/image/logo.png" class = "logo">
    <ul>
        <li class = "home"><a href = "/">home</a></li>
        <li class = "rankings"><a href = "/rankings">rankings</a></li>
        <li class = "community"><a href = "/community">community</a></li>
    </ul>
</header>