<div class = "header">
    <a href = "/"><img src = "/image/logo.png" class = "logo"></a>
    <ul>
        <li class = "home"><a href = "/">Home</a></li>
        <li class = "leaderboard"><a href = "/leaderboard">LeaderBoard</a></li>
        <li class = "community"><a href = "https://discord.com/invite/q5ptEFraw5" target="_blank" rel="noopener noreferrer">Community</a></li>
        <li class = "help">Help</li>
        <li class = "register">Register</li>
        <li class = "login">Login</li>
    </ul>
</div>