<div class = "header">
    <a href = "/"><img src = "/image/logo.png" class = "logo"></a>
    <ul>
        <a href = "/"><li class = "home">Home</li></a>
        <a href = "/leaderboard"><li class = "leaderboard">LeaderBoard</li></a>
        <a href = "https://discord.com/invite/q5ptEFraw5" target="_blank" rel="noopener noreferrer"><li class = "community">Community</li></a>
        <li class = "help">Help</li>
        <li class = "register">Register</li>
        <li class = "login">Login</li>
    </ul>
</div>