<!DOCTYPE html>
<html lang="ja">
    <head>
        <Title>Dashboard | Mamestagram</Title>
        <%- include("references/head", { currentTime }) %>
        <link rel="stylesheet" href="/css/home.css?<%= currentTime %>" />
    </head>
    <body>
        <%- include("references/header", { currentTime }) %>
        <main>
            
        </main>
        <%- include("references/footer") %>
    </body>
</html>