<!DOCTYPE html>
<html lang = "ja">
    <head>
        <meta charset = "utf-8">
        <title>Rankings</title>
        <link rel = "stylesheet" href = "/css/rankings.css">
        <link rel = "icon" href = "/image/logo.ico">
    </head>
    <%- include("header"); %>
    <body>

    </body>
    <footer>

    </footer>
</html>