@font-face {
    font-family: "Tilt Warp";
    src: url("../font/TiltWarp-Regular.ttf");
}

@font-face {
    font-family: "けいふぉんと";
    src: url("../font/keifont.ttf");
}

@font-face {
    font-family: "Gloria Hallelujah";
    src: url("../font/GloriaHallelujah-Regular.ttf");
}

@font-face {
    font-family: "RobotoSlab";
    src: url("../font/RobotoSlab-Regular.ttf");
}