/* ------------------------------------------------- */
.help-text {
    border-bottom: 3px solid mediumslateblue;
}
/* ------------------------------------------------- */
.banner {
    height: 170px;
    width: 100%;
    object-fit: cover;
    filter: blur(7px);
}
/* ------------------------------------------------- */