.header {
    background-color: lightgray;
    height: 67px;
}

.logo {
    background-position: center;
    float: left;
    width: 55px;
    margin: 5px 5px 5px 230px;
    transition: 150ms all;
}
.logo:hover {
    margin: 2px 2px 0 228px;
    width: 60px;
}

li {
    font-family: "Tilt Warp";
    font-size: 15px;
    color: black;
    height: 50px;
    list-style: none;
    padding: 20px 10px;
    margin: 7px 10px;
    transition: 500ms all;
}

.home {
    float: left;
    margin-left: 20px;
}
.home:hover {
    background-color: mediumslateblue;
}

.leaderboard {
    float: left;
    border-bottom: 3px solid lime;
}
.leaderboard:hover {
    background-color: lime;
}

.community {
    float: left;
}
.community:hover {
    background-color: hotpink;
}

.help {
    float: left;
}
.help:hover {
    background-color: orange;
}

.login {
    float: right;
}

.register {
    margin-right: 250px;
    float: right;
}