/* ------------------------------------------------- */
.header {
    background-color: lightgray;
    height: 67px;
}

.logo {
    background-position: center;
    float: left;
    width: 55px;
    margin: 5px 5px 5px 230px;
    transition: 150ms all;
}
.logo:hover {
    margin: 2px 2px 0 228px;
    width: 60px;
}

li {
    font-family: "Tilt Warp";
    font-size: 15px;
    color: black;
    height: 50px;
    float: left;
    list-style: none;
    padding: 20px 10px;
    margin: 7px 10px;
    transition: 500ms all;
}
li:hover {
    background-color: mediumslateblue;
}

.home {
    margin-left: 20px;
}

.leaderboard {
    border-bottom: 3px solid mediumslateblue;
}

.login {
    float: right;
}

.register {
    margin-right: 250px;
    float: right;
}
/* ------------------------------------------------- */
.ranking-data span {
    font-family: "RobotoSlab";
    text-align: center;
}

.ranking {
    margin: 0 10px;
}

.country {
    margin: 0 10px;
}

.name {
    margin: 0 100px 0 5px;
}