/* ------------------------------------------------- */
.header {
    background-color: lightgray;
    height: 67px;
}

.logo {
    background-position: center;
    float: left;
    width: 55px;
    margin: 5px 5px 5px 230px;
    transition: 150ms all;
}
.logo:hover {
    margin: 2px 2px 0 228px;
    width: 60px;
}

li {
    font-family: "Tilt Warp";
    font-size: 15px;
    color: black;
    height: 50px;
    list-style: none;
    padding: 20px 10px;
    margin: 7px 10px;
    transition: 500ms all;
}

.home {
    float: left;
    margin-left: 20px;
    border-bottom: 3px solid mediumslateblue;
}
.home:hover {
    background-color: mediumslateblue;
}

.leaderboard {
    float: left;
}
.leaderboard:hover {
    background-color: lime;
}

.community {
    float: left;
}
.community:hover {
    background-color: hotpink;
}

.help {
    float: left;
}
.help:hover {
    background-color: orange;
}

.login {
    float: right;
}

.register {
    margin-right: 250px;
    float: right;
}
/* ------------------------------------------------- */
.banner {
    height: 170px;
    width: 100%;
    object-fit: cover;
    filter: blur(5px);
}
/* ------------------------------------------------- */
.main {
    background-color: midnightblue;
    height: 1000px;
}

.welcome-title {
    font-family: "Gloria Hallelujah";
    font-size: 80px;
    color: white;
    padding: 50px 250px;
}

.l1 {
    margin-left: 350px;
    float: bottom;
}
.l2 {
    margin-left: 460px;
}
.l3 {
    margin-left: 235px;
    font-weight: bold;
}