/* ------------------------------------------------- */
.header {
    background-color: lightgray;
    height: 67px;
}

.logo {
    background-position: center;
    float: left;
    width: 55px;
    margin: 5px 5px 5px 14.75%;
    transition: 150ms all;
}
.logo:hover {
    margin: 2px 2px 3px 14.645%;
    width: 60px;
}

li {
    font-family: "Tilt Warp";
    font-size: 15px;
    color: black;
    height: 50px;
    float: left;
    list-style: none;
    padding: 20px 10px;
    margin: 7px 10px;
    transition: 500ms all;
}
li:hover {
    background-color: mediumslateblue;
}

.home {
    margin-left: 20px;
    border-bottom: 3px solid mediumslateblue;
}

.login {
    float: right;
}

.register {
    margin-right: 250px;
    float: right;
}
/* ------------------------------------------------- */
.banner {
    height: 170px;
    width: 100%;
    object-fit: cover;
    filter: blur(7px);
}
/* ------------------------------------------------- */
.main {
    background-color: midnightblue;
    height: 1000px;
}

.welcome-title {
    font-family: "Gloria Hallelujah";
    font-size: 520%;
    color: white;
    text-align: center;
}

.welcome-title h1 .bold {
    font-weight: bold;
}
