.country-flag {
    cursor: default;
    position: relative;
    font-family: "Noto_Sans";
}

.country-flag i {
    border-radius: 15%;
    transition: transform 300ms;
}
.country-flag:hover i {
    transform: scale(1.1);
}

.country-flag:hover .tooltip {
    bottom: 80%;
    opacity: 1;
}

.country-flag .tooltip {
    line-height: 10px;
    width: auto;
    position: absolute;
    left: 50%;
    bottom: 60%;
    transform: translateX(-50%);
    margin-bottom: 8px;
    padding: 8px;
    border-radius: 10px;
    background-color: #17171c;
    font-size: 0.7em;
    color: #fdfdfd;
    text-align: center;
    opacity: 0;
    z-index: 1;
    transition: bottom 300ms, opacity 300ms;
}