@font-face {
    font-family: "osu-mode";
    src: url("../../fonts/extra.ttf") format("truetype")
}

.mode-icon {
    font-family: "osu-mode";
    font-style: normal;
}

.mode-std::before {
    content: "\e800";
    position: relative;
}

.mode-taiko::before {
    content: "\e803";
    position: relative;
}

.mode-ctb::before {
    content: "\e801";
    position: relative;
}

.mode-mania::before {
    content: "\e802";
    position: relative;
}