<footer>
    <% const year = new Date().getFullYear(); %>
    <div class="flex-box">
        &copy; 2023 - <%= year %> Mamestagram
        <span class="tooltip-element youtube">
            <a href="https://www.youtube.com/@Mamestagram" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-youtube"></i>
            </a>
            <p class="tooltip">YouTube</p>
        </span>
        <span class="tooltip-element github">
            <a href="https://github.com/Mamestagram" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-github"></i>
            </a>
            <p class="tooltip">GitHub</p>
        </span>
        , designed by
        <!-- basshhii0610 -->
        <div class="user">
            <a href="/profile/basshhii0610">
                basshhii0610
            </a>
            <span class="tooltip-element x-twitter">
                <a href="https://x.com/basshhii_0610" target="_blank" rel="noopener noreferrer">
                    <i class="fa-brands fa-x-twitter"></i>
                </a>
                <p class="tooltip">X (Twitter)</p>
            </span>
            <span class="tooltip-element discord">
                <a href="https://discord.com/channels/@me/945313821646536734" target="_blank" rel="noopener noreferrer">
                    <i class="fa-brands fa-discord"></i>
                </a>
                <p class="tooltip">Discord</p>
            </span>
        </div>
        ,
        <!-- Garushisu -->
        <div class="user">
            <a href="/profile/basshhii0610">
                Garushisu
            </a>
            <span class="tooltip-element x-twitter">
                <a href="https://x.com/garushisu" target="_blank" rel="noopener noreferrer">
                    <i class="fa-brands fa-x-twitter"></i>
                </a>
                <p class="tooltip">X (Twitter)</p>
            </span>
            <span class="tooltip-element discord">
                <a href="https://discord.com/channels/@me/490097758288609291" target="_blank" rel="noopener noreferrer">
                    <i class="fa-brands fa-discord"></i>
                </a>
                <p class="tooltip">Discord</p>
            </span>
        </div>
    </div>
</footer>