<header>
    <div class="element">
        <span class="tooltip-element down home">
            <a href="/">
                <img class="logo" src="/images/logo.webp?<%= currentTime %>" />
            </a>
            <p class="tooltip">Home Page</p>
        </span>
        <ul class="link-menu">
            <li class="beatmaps">
                <a href="/">Beatmaps</a>
            </li>
            <li class="leaderboard">
                <a href="/">Leaderboard</a>
            </li>
            <li class="documents">
                <a href="/documents">Documents</a>
            </li>
            <li class="discord">
                <a class="an-tab" href="/discord" target="_blank" rel="noopener noreferrer">Discord</a>
            </li>
            <li class="donation">
                <span class="tooltip-element down">
                    <a href="/"><i class="fa-solid fa-heart"></i></a>
                    <p class="tooltip">Support us!</p>
                </span>
            </li>
            <li class="search">
                <i class="fa-solid fa-magnifying-glass"></i>
            </li>
            <% if (isLoggedIn) { %>
                <li class="user-avatar">
                    <img src="https://a.mamesosu.net/<%= user.id %>?<%= currentTime %>" loading="lazy" alt="" />
                </li>
            <% } else { %>
                <li class="register">
                    <a href="/account?class=register">Register</a>
                </li>
                <li class="login">
                    <a href="/account?class=signin">Sign in</a>
                </li>
            <% } %>
        </ul>
    </div>
</header>